body{
font-family:Arial;
margin:0;
background:#0072ff;
color:#333;
}

.container{
width:90%;
max-width:900px;
margin:30px auto;
background:#fff;
padding:20px;
border-radius:15px;
}

button{
background:#0072ff;
color:white;
padding:10px;
border:none;
margin:5px;
cursor:pointer;
border-radius:5px;
}

button:hover{
opacity:0.8;
}

ul{
list-style:none;
padding:0;
}

li{
background:#f4f4f4;
margin:10px 0;
padding:10px;
border-radius:8px;
}

.welcome-container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.welcome-card{
background:white;
padding:30px;
border-radius:15px;
text-align:center;
}
